[Unit]
Description=DomAGL-IVI
Requires=backend-ready@bridge.service
After=backend-ready@bridge.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/xl create /etc/xen/domagl-ivi.cfg
ExecStop=/usr/sbin/xl destroy DomAGL-IVI
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
